node_modules/
docs/.vitepress/cache/
docs/.vitepress/dist/
temp/
log/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
*.swp
*.swo
*~
.env
.env.local
.env.*.local
docker/cache/*
!docker/cache/.gitkeep
docker/lib/
coverage/
nohup.out
libpod/
apps/flutter/.dart_tool/
apps/flutter/.flutter-plugins
apps/flutter/.flutter-plugins-dependencies
apps/flutter/.metadata
apps/flutter/.packages
apps/flutter/android/local.properties
apps/flutter/build/
apps/flutter/ios/Flutter/ephemeral/
apps/flutter/macos/Flutter/ephemeral/
apps/flutter/windows/flutter/ephemeral/
